<% cache [current_user.id, list, list.items.count] do %>
  <div class="box">
    <div class="level is-mobile">
      <div class="level-left is-mobile">
        <div class="level-item">
          <%= icon list.fa_icon %>
        </div>

        <div class="level-item">
          <div class="title is-4"><%= link_to list, edit_list_path(list) %></div>
        </div>

        <div class="level-item">
          <%= link_to items_path(list_ids: list.id) do %>
            <span class="tag is-dark">
              <%= list.items.count %>
            </span>
          <% end %>
        </div>
      </div>

      <div class="level-right is-mobile">
        <div class="level-item">
          <%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= icon :trash, size: :medium %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
