<%= render 'settings/tabnav', active_tab: :lists %>

<div class="container new-list has-bottom-padding">
  <%= form_for :list do |f| %>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <%= f.text_field :name, class: 'input is-medium', placeholder: 'Name', autocomplete: :off, required: true %>
          </p>
        </div>

        <div class="field is-grouped">
          <p class="control is-expanded">
            <span class="select is-medium">
              <%= f.select :scraper, options_for_select(Scraper.all.map { |e| [e, e] }) , include_blank: 'Select default Scraper' %>
            </span>
          </p>
          <p class="control">
            <%= f.submit 'Create', class: 'button is-primary is-medium' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% cache [current_user.id, @lists, current_user.items.count] do %>
  <div class="container lists-list">
    <% @lists.each do |list| %>
      <%= render 'list', list: list %>
    <% end %>
  </div>
<% end %>
