<%= form_for :session, url: session_path do |form| %>
  <p class="control has-icon">
    <%= form.text_field :email, type: 'email', class: 'input is-medium', placeholder: 'Email', autofocus: true %>
    <%= icon :envelope %>
  </p>

  <p class="control has-icon">
    <%= form.password_field :password, type: 'password', class: 'input is-medium', placeholder: 'Password' %>
    <%= icon :lock %>
  </p>

  <p class="control">
    <%= form.submit 'Login', class: 'button is-success is-medium' %>
  </p>
<% end %>
