<div class="box">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <%= icon label.fa_icon %>
      </div>

      <div class="level-item">
        <div class="title is-4"><%= link_to label, edit_label_path(label) %></div>
      </div>

      <div class="level-item">
        <%= link_to items_path(label_ids: label.id) do %>
          <span class="tag is-dark">
            <%= label.items.count %>
          </span>
        <% end %>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <%= link_to label, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= icon :trash, size: :medium %>
        <% end %>
      </div>
    </div>
  </div>
</div>
