<div class="has-bottom-padding">
  <div class="tabs">
    <ul>
      <li class='<%= 'is-active' if active_tab == :lists %>'>
        <%= link_to lists_path do %>
          <%= icon :list %>
          <span>Lists</span>
        <% end %>
      </li>

      <li class='<%= 'is-active' if active_tab == :tags %>'>
        <%= link_to tags_path do %>
          <%= icon :tags %>
          <span>Tags</span>
        <% end %>
      </li>

      <li class='<%= 'is-active' if active_tab == :profile %>'>
        <%= link_to profile_path do %>
          <%= icon 'user-o' %>
          <span>Profile</span>
        <% end %>
      </li>

      <li class='<%= 'is-active' if active_tab == :about %>'>
        <%= link_to about_path do %>
          <%= icon 'info-circle' %>
          <span>About</span>
        <% end %>
      </li>

      <li>
        <%= link_to sign_out_path, method: :delete do %>
          <%= icon 'sign-out' %>
          <span>Sign out</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
