<%= render 'settings/tabnav', active_tab: :tags %>

<div class="tag-form">
  <h1 class="title is-4">Edit Tag "<%= @tag.name %>"</h1>

  <%= form_for @tag do |f| %>
    <p class="control">
      <%= f.label 'Name', class: 'label' %>
    </p>

    <div class="field">
      <p class="control">
        <%= f.text_field :name, class: 'input', required: true %>
      </p>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <%= f.submit 'Update', class: 'button is-success' %>
      </p>

      <p class="control">
        <%= link_to 'Back', tags_path, class: 'button' %>
      </p>
    </div>
  <% end %>
</div>
