<div class="box" data-filter-name="<%= item.name %>">
  <div class="level is-mobile">
    <div class="level-left is-mobile">
      <div class="level-item">
        <figure class="image is-64x64">
          <%= image_tag item.image.thumb.url if item.image.present? %>
        </figure>
      </div>

      <div class="level-item">
        <div class="title is-4"><%= link_to item, item %></div>
      </div>

      <% if item.year %>
        <div class="level-item">
          <span class="tag is-light is-medium">
            <%= item.year %>
          </span>
        </div>
      <% end %>

      <%# <% unless current_label_ids.count == 1 %1> %>
        <% item.labels.each do |label| %>
          <div class="level-item">
            <%= link_to items_path(label_ids: label.id) do %>
              <span class="tag is-dark is-medium">
                <%= label.name %>
              </span>
            <% end %>
          </div>
        <% end %>
      <%# <% end %1> %>
    </div>

    <div class="level-right">
      <div class="level-item">
        <%= link_to scrape_item_path(item), method: :put do %>
          <%= icon :magic, size: :medium, tip: 'Lucky scrape' %>
        <% end %>
      </div>

      <div class="level-item">
        <%= link_to item, method: :delete do %>
          <%= icon :archive, size: :medium, tip: 'Archive' %>
        <% end %>
      </div>
    </div>

  </div>
</div>
