<% cache [current_user.id, item] do %>
  <div class="box item-box" data-filter-name="<%= item.name %>" data-item-id="<%= item.id %>">
    <div class="level is-mobile">
      <div class="level-left is-mobile">
        <div class="level-item">
          <figure class="image is-64x64">
            <%= image_tag item.image.thumb.url if item.image.present? %>
          </figure>
        </div>

        <div class="level-item title-item">
          <div class="subtitle is-4"><%= link_to item, item %></div>
        </div>

        <% if item.year %>
          <div class="level-item">
            <span class="tag is-rounded is-light is-small">
              <%= item.year %>
            </span>
          </div>
        <% end %>

        <% if item.list.present? %>
          <div class="level-item is-hidden-mobile">
            <%= link_to items_path(list_ids: item.list_id) do %>
              <span class="tag is-rounded is-light is-small">
                <%= item.list_name %>
              </span>
            <% end %>
          </div>
        <% end %>

        <% item.tags.first(4).each do |tag| %>
          <div class="level-item is-hidden-touch">
            <%= link_to items_path(list_ids: current_list_id_params, tag_ids: tag.id), data: { balloon: %{Show #{tag} items only} } do %>
              <span class="tag is-rounded is-light is-small">
                <%= tag.name %>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="level-right is-mobile item-actions is-hidden">
        <div class="level-item is-hidden-mobile">
          <%= link_to pirate_search_url(item.name), target: :blank do %>
            <%= icon :magnet, size: :medium, tip: 'Search the Bay' %>
          <% end %>
        </div>

        <div class="level-item is-hidden-mobile">
          <%= link_to google_search_url(item.name), target: :blank do %>
            <%= icon :google, size: :medium, tip: 'Search Google' %>
          <% end %>
        </div>

        <div class="level-item is-hidden-mobile">
          <%= link_to youtube_search_url(item.name), target: :blank do %>
            <%= icon 'youtube-play', size: :medium, tip: 'Search YouTube' %>
          <% end %>
        </div>

        <div class="level-item is-hidden-mobile">
          <%= link_to netflix_search_url(item.name), target: :blank do %>
            <%= icon :tv, size: :medium, tip: 'Search Netflix' %>
          <% end %>
        </div>

        <% if item.deleted? %>
          <div class="level-item">
            <%= link_to restore_item_path(item), method: :put do %>
              <%= icon :recycle, size: :medium, tip: 'Restore' %>
            <% end %>
          </div>

          <div class="level-item">
            <%= link_to really_destroy_item_path(item), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= icon :trash, size: :medium, tip: 'Delete for good' %>
            <% end %>
          </div>
        <% else %>
          <div class="level-item">
            <%= link_to item, method: :delete do %>
              <%= icon :archive, size: :medium, tip: 'Archive' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
