<div class="container item-form">
  <div class="level">
    <div class="level-left">
      <% if @item.image.present? %>
        <div class="level-item">
          <figure class="image is-64x64">
            <%= image_tag @item.image.thumb.url %>
          </figure>
        </div>
      <% end %>

      <div class="level-item">
        <h1 class="title">Edit "<%= @item.name %>"</h1>
      </div>
    </div>
  </div>

  <%= form_for @item do |f| %>
    <div class="field">
      <p class="control">
        <%= f.label 'Name', class: 'label' %>
        <%= f.text_field :name, class: 'input', required: true %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.label 'Description', class: 'label' %>
        <%= f.text_area :description, class: 'textarea' %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.label 'Release Date', class: 'label' %>
        <%= f.text_field :date, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.label 'Image', class: 'label' %>
        <%= f.text_field :remote_image_url, class: 'input' %>
      </p>
    </div>

    <div class="field">
      <p class="control">
        <%= f.label 'Date added', class: 'label' %>
        <%= f.text_field :created_at, class: 'input is-disabled' %>
      </p>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <%= f.submit 'Update', class: 'button is-success' %>
      </p>

      <p class="control">
        <%= link_to "Cancel", :back, class: 'button' %>
      </p>
    </div>
  <% end %>
</div>
