<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <figure class="image is-64x64">
          <%= image_tag @item.image.thumb.url if @item.image.present? %>
        </figure>
      </div>

      <div class="level-item">
        <h1 class="title">Edit "<%= @item.name %>"</h1>
      </div>
    </div>
  </div>

  <div class="container item-form">
    <%= form_for @item do |f| %>
      <%= f.label 'Name', class: 'label' %>
      <p class="control">
        <%= f.text_field :name, class: 'input' %>
      </p>

      <%= f.label 'Release Date', class: 'label' %>
      <p class="control">
        <%= f.text_field :release_date, class: 'input' %>
      </p>

      <%= f.label 'Description', class: 'label' %>
      <p class="control">
        <%= f.text_area :description, class: 'textarea' %>
      </p>

      <%= f.submit 'Update', class: 'button is-success' %>
    <% end %>
  </div>
</section>
