<% cache ['items-index', *cache_key_for_items(@items)] do %>
  <% cache 'items-search-form' do %>
    <section class="section has-no-bottom-padding">
      <div class="container new-item">
        <%= form_for :item do |f| %>
          <p class="control has-addons">
            <%= f.text_field :name, class: 'input is-large is-expanded filter scraper-query', placeholder: 'Search', autocomplete: :off, autofocus: :true, data: { 'filter-container' => '.items-list', 'filter-attribute' => 'name' } %>
            <%= link_to scraper_results_path, class: 'button is-large scraper-link' do %>
              <%= icon :search, size: :medium %>
            <% end %>
          </p>
        <% end %>
      </div>
    </section>
  <% end %>

  <% cache cache_key_for_items(@items) do %>
    <section class="section">
      <div class="container items-list">
        <% @items.each do |item| %>
          <%= render 'item', item: item %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>

<div class="scraper-results">
</div>
