<section class="section has-no-bottom-padding">
  <div class="container new-item">
    <%= form_for :item do |f| %>
      <p class="control has-addons">
        <%= f.text_field :name, class: 'input is-large is-expanded filter', placeholder: 'Search', autocomplete: :off, autofocus: :true, data: { 'filter-container' => '.items-list', 'filter-attribute' => 'name' } %>
        <%= link_to scrape_items_path, class: 'button is-large', method: :put, data: { balloon: 'Multiscrape', 'balloon-pos' => 'down' } do %>
          <%= icon :magic, size: :medium %>
        <% end %>
      </p>
    <% end %>
  </div>
</section>

<section class="section">
  <div class="container items-list">
    <% @items.each do |item| %>
      <%= render 'item', item: item %>
    <% end %>
  </div>
</section>

