<section class="section has-no-bottom-padding">
  <div class="container new-item">
    <%= form_for :item do |f| %>
      <p class="control has-addons">

        <label for="menu-trigger" class="menu-trigger button is-large is-hidden-desktop">
          <% if current_label && current_label.fa_icon.present? %>
            <%= icon current_label.fa_icon, size: :medium %>
          <% else %>
            <% if display_archived? %>
              <%= icon :archive, size: :medium %>
            <% else %>
              <%= icon :bars, size: :medium %>
            <% end %>
          <% end %>
        </label>

        <%= f.text_field :name, class: 'input is-large is-expanded filter scraper-query', placeholder: 'Search', autocomplete: :off, autofocus: :true, data: { 'filter-container' => '.items-list', 'filter-attribute' => 'name' } %>

        <%= link_to scraper_results_path, class: 'button is-large scraper-link' do %>
          <%= icon :search, size: :medium %>
        <% end %>
      </p>
    <% end %>
  </div>
</section>

<% cache cache_key_for_items(@items) do %>
  <section class="section">
    <div class="container items-list">
      <% @items.each do |item| %>
        <%= render 'item', item: item %>
      <% end %>
    </div>
  </section>
<% end %>

<div class="scraper-results">
</div>
