<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <div class="columns is-gapless">
      <%= check_box_tag 'menu-trigger', nil, false, class: 'is-hidden' %>

      <% if signed_in? %>
        <% cache ['side-nav', current_user.id, current_user.labels, current_label_id_params, display_archived?] do %>
          <div class="column is-2 hero is-dark is-fullheight is-hidden-touch side-bar is-mobile">
            <aside class="menu side-nav">
              <ul class="menu-list">
                <li>
                  <%= link_to root_path do %>
                    <div class="level-right">
                      <div class="level-item">
                        <h1 class="title"><strong>Lists</strong></h1>
                      </div>

                      <%= icon :home, size: :medium %>
                    </div>
                  <% end %>
                </li>

                <div class="label-nav">
                  <% current_user.labels.each do |label| %>
                    <li>
                      <% css_class = current_label_ids.include?(label.id) ? 'is-active' : '' %>
                      <%= link_to items_path(label_ids: label.id), class: css_class do %>
                        <div class="level-right">
                          <div class="level-item">
                            <h2 class="title is-4"><%= label.name %></h2>
                          </div>

                          <%= icon label.fa_icon %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>

                  <li>
                    <% css_class = display_archived? ? 'is-active' : '' %>
                    <%= link_to items_path(archived: true), class: css_class do %>
                      <div class="level-right">
                        <div class="level-item">
                          <h2 class="title is-4">Archive</h1>
                        </div>

                        <%= icon :archive %>
                      </div>
                    <% end %>
                  </li>
                </div>

                <li>
                  <%= link_to labels_path do %>
                    <div class="level-right">
                      <div class="level-item">
                        <h2 class="title is-4">Settings</h1>
                      </div>

                      <%= icon :cog %>
                    </div>
                  <% end %>

                  <%= link_to sign_out_path, method: :delete do %>
                    <div class="level-right">
                      <div class="level-item">
                        <h2 class="title is-4">Sign out</h1>
                      </div>

                      <%= icon 'sign-out' %>
                    </div>
                  <% end %>
                </li>
              </ul>
            </aside>
          </div>
        <% end %>
      <% end %>


      <div class="column is-auto main-content">
        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "notification flash-notification is-#{name == 'notice' ? 'success' : 'danger'}" %>
        <% end %>

        <div class="section main-content-section">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
