<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <% if signed_in? %>
      <div class="tabs is-large is-fullwidth topnav-tabs">
        <ul>
          <% current_user.lists.each do |list| %>
            <% css_class = current_list_ids.include?(list.id) ? 'is-active' : '' %>
            <li class="<%= css_class %>">
              <%= link_to items_path(list_ids: list.id) do %>
                <%= icon list.fa_icon %>
                <span><%= list.name %></span>
              <% end %>
            </li>
          <% end %>

          <% css_class = display_archived? ? 'is-active' : '' %>
          <li class="<%= css_class %>">
            <%= link_to items_path(archived: true) do %>
              <%= icon :archive %>
              <span>Archive</span>
            <% end %>
          </li>

          <li>
            <%= link_to lists_path do %>
              <%= icon :cog %>
              <span>Settings</span>
            <% end %>
          </li>
      </div>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "notification flash-notification is-#{name == 'notice' ? 'success' : 'danger'}" %>
    <% end %>

    <% css_class = signed_in? ? 'main-section' : '' %>
    <section class="section <%= css_class %>">
      <div class="container">
        <%= yield %>
      </div>
    </section>

  </body>
</html>
