<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%# <aside class='menu'> %>
    <%#   <ul class="menu-list"> %>
    <%#     <p class="menu-label"> %>
    <%#       Labels %>
    <%#     </p> %>

    <%#     <% Label.all.each do |label| %1> %>
    <%#       <li><%= link_to label, items_path(label_ids: label.id) %1></li> %>
    <%#     <% end %1> %>
    <%#   </ul> %>

    <%# </aside> %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "notification is-#{name == 'notice' ? 'success' : 'danger'}" %>
    <% end %>


    <%= yield %>
  </body>
</html>
