<!DOCTYPE html>
<html>
  <head>
    <title>Lists</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="columns">
      <div class="column is-2 hero is-fullheight is-hidden-mobile">
        <aside class="menu side-nav">
          <ul class="menu-list">
            <li>

              <div class="level-right">
                <div class="level-item">
                  <h1 class="title"><strong>Lists</strong></h1>
                </div>

                <div class="level-item">
                  <span class="icon">
                    <%= fa_icon :home %>
                  </span>
                </div>
              </div>

            </li>

            <% Label.all.each do |label| %>
              <li>
                <div class="level-right">
                  <div class="level-item">
                    <h2 class="title is-4"><%= label.name %></h2>
                  </div>

                  <div class="level-item">
                    <span class="icon">
                      <%= fa_icon label.fa_icon %>
                    </span>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>


      <div class="column is-10">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "notification is-#{name == 'notice' ? 'success' : 'danger'}" %>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
